<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= car.makeModel %></title>
    <style>
        body {background-image: url(https://images.unsplash.com/photo-1617898529288-7f3efcf8e299?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);}
    </style>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1><%= car.makeModel %></h1>
    <% if (car.isReadyToPark) { %>
    <p>This car has been parked!</p>
    <% } else { %>
    <p>This car has not been parked!</p>
    <% } %>
    <br>
    <form action="/cars/<%=car._id%>?_method=DELETE" method="POST">
      <button type="submit">Remove <%= car.makeModel %> from garage</button>
    </form>
    <br>
    <a href="/cars/<%= car._id %>/edit">Update <%= car.makeModel %> details</a>
    <br>
    <br>
    <a href="/cars/">Back to Your Garage</a>
  </body>
</html>
